* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Caveat Brush", cursive;
}

body {
  text-align: center;
  background: linear-gradient(
      0deg,
      rgba(232, 230, 230, 0.872),
      rgba(218, 218, 218, 0.762)
    ),
    url("https://media.tacdn.com/media/attractions-splice-spp-674x446/07/97/6c/0f.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: rgba(177, 177, 177, 0.612);
  font-family: "Kalam", cursive;
  text-shadow: 1px 1px 2px rgb(250, 250, 250);
}

.container {
  width: 960px;
  display: flex;
  margin: 20px auto;
  flex-flow: column wrap;
  align-content: center;
  justify-content: center;
  position: relative;
}

.btnDiv {
  margin-top: 10px;
}

.bigCtn {
  width: 500px;
  height: 500px;
  margin: 0;
  display: flex;
  flex-flow: row wrap;
  align-content: center;
  justify-content: center;
  position: relative;
  z-index: 0;
}

.msgDiv {
  width: 300px;
  height: 100px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -50px;
  margin-left: -150px;
  background-color: rgba(56, 80, 120, 0.886);
  z-index: 1;
  display: none;
  text-align: center;
  font-size: 4rem;
  color: rgb(0, 255, 251);
  text-shadow: 2px 2px 2px rgb(89, 89, 89);
  border-radius: 20px;
  box-shadow: 3px 1px 4px rgb(154, 154, 154);
}

.smlCtn {
  width: 32%;
  height: 32%;
  margin: -6px; /* to make the small box overlap each other */
  border: 6px dotted rgb(25, 25, 99);
  text-align: center;
  position: relative;
}

.smlCtn span {
  font-size: 6rem;
}

button {
  width: 120px;
  line-height: 36px;
  display: block;
  margin: 0px auto;
  font-size: 2rem;
  border-radius: 10px;
  color: white;
  background-color: rgb(43, 43, 152);
}

.resetDiv {
  display: flex;
}

#btnO,
#btnX {
  display: inline;
  margin: 10px;
}

.winboxs {
  color: blueviolet;
}

.bkGrey {
  background-color: grey;
}

.firefly {
  width: 10px;
  height: 10px;
  animation: flyglow 2.5s infinite;
  animation-direction: alternate; 
  background-color: rgba(255, 255, 0, 0.687);
  position: absolute;
  border-radius: 30px;
  box-shadow: 0px 4px 21px 29px rgba(255, 255, 0, 0.687);
 -webkit-box-shadow: 0px 4px 21px 29px rgba(255, 255, 0, 0.687);
 -moz-box-shadow: 0px 4px 21px 29px rgba(255, 255, 0, 0.687);
}

@keyframes flyglow{
  0%{transform: scale(0.1) translate(20px, 30px)}
  50%{transform: scale(0.2) translate(200px, 50px)}
  80%{transform: scale(0.1) translate(200px, 50px)}
  100% {transform: scale(0.3) translate(300px, 100px)}
}

.anima {
  position: absolute;
  animation: word 0.2s;
  animation-direction: alternate;
  font-size: 6rem;
  top: 2%;
  left: 35%;
  
}

@keyframes word {
  from {
    font-size: 0rem;
    top: 50%;

  }
  to {
    font-size: 6rem;
    top: 2%;
     
  }
}
